.formular {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formular_content {
    margin: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    height: 90vh;
    justify-content: flex-start;
    border-radius: 40px;
    box-shadow: 0 30px 20px -5px rgba(71,52,23,0.2);
    border: 2px solid rgba(250,250,250,0.4);
}

/*----- Form box with all inputs and labels -----*/
.formular_box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formular_box_content {
    width: 100%;
    height: 95%;
    background-color: var(--text_color);
    margin: 0 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.fbc_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.fbc_header h1 {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--mid_tone);
    margin-bottom: 10px;
    text-shadow: 2px 3px 2px rgba(71,52,23,0.7);
}

.fbc_header h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    color: var(--light_tone);
    text-shadow: 2px 3px 2px rgba(71,52,23,0.7);
}

.fbc_form {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.fbc_form form {
    margin: 0 10px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fbc_box {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid var(--light_tone);
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.fbc_wrap {
    margin: 0 10px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fbc_wrap svg {
    font-size: 1.2rem !important;
    color: var(--mid_tone);
}

.fbc_wrap input {
    height: 30px;
    width: 100%;
    margin: 5px;
    border: none;
    outline: none;
}

.submit {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--light_tone);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.submit span {
    color: var(--text_color);
    text-transform: uppercase;
    z-index: 2;
}

.submit::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    background-color: var(--mid_tone);
    border-radius: 20px;
    transition: height .4s ease;
}

.submit:hover::after {
    height: 100%;
}

.formular_text {
    text-align: center;
    color: var(--light_tone);
    font-weight: bold;
}

.formular_text a {
    color: var(--mid_tone);
}

/*----- Form img as a background -----*/
.formular_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.formular_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 521px) {
    .formular_content {
        margin: 0 40px;
    }

    .fbc_header h1 {
        font-size: 2rem;
    }

    .fbc_header h2 {
        font-size: 1.6rem;
    }

    .formular_box {
        width: 60%;
    }

    .formular_box_content {
        margin-left: 20px;
    }

    .submit {
        width: 240px;
    }

    .fbc_form form {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 769px) {
    .formular_content {
        margin: 0 120px;
        max-height: 600px;
    }

    .fbc_header h1 {
        font-size: 2.4rem;
    }

    .fbc_header h2 {
        font-size: 2rem;
        margin: 0 10px;
    }

    .formular_box {
        width: 60%;
    }

    .formular_box_content {
        margin-left: 20px;
    }

    .fbc_form form {
        margin: 0 40px;
    }
}

@media only screen and (min-width: 1100px) {
    .formular_content {
        margin: 0 200px;
        max-height: 600px;
    }

    .fbc_header h1 {
        font-size: 2.8rem;
    }

    .formular_box {
        width: 50%;
    }

    .formular_box_content {
        margin-left: 20px;
    }
}