:root {
  --background_color: #000;
  --text_color: #f2f2f2;
  --mid_tone: #473417;
  --light_tone: #654a21;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background_color);
}

.page_container {
  max-width: 1520px;
  margin: 0 auto;
  overflow: hidden;
}

.parallax {
  transition: 0.45s cubic-bezier(.2, .49, .32, .99);
  transform: translate(-50%, -50%);
}
