.password_form {
    width: 100%;
    height: auto;
}

.password_form form {
    width: 100%;
    height: auto;
}

.ps_inputs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ps_full {
    width: 100%;
    height: auto;
}

.ps_input_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ps_space {
    width: 10px;
    height: 20px;
    margin-bottom: 5px;
}

.cp_btn {
    width: 100%;
    height: 45px;
    background-color: var(--text_color);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
}

.cp_btn span {
    color: var(--background_color);
}

.cp_btn:disabled {
    opacity: .5;
}

@media only screen and (min-width: 769px) {
    .cp_btn {
        width: 240px;
    }
}